body{
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
}
.content{
    margin-top: 20px;
    height: calc(100vh - 200px);
    overflow: auto;
}

.sign-out{
    cursor: pointer;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.flex{
    display: flex;
    align-items: center;
}

.message{
    column-gap: 30px;
    margin-bottom: 10px;
}

.nav-wrapper{
    position: relative;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.text{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    width: 200px;
    background-color: #e7dede;
    padding: 5px 10px;
    border-radius: 5%;
}

.register{
    margin-top: 200px;
    width: 50%;
}
