body{
    display: grid;
    grid-template-rows: 1fr auto;
}
.content{
    margin-top: 20px;
    height: calc(100vh - 220px);
    overflow: auto;
}

.sign-out{
    cursor: pointer;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
}

.flex{
    display: flex;
    align-items: center;
}

.message{
    column-gap: 10px;
    margin-bottom: 10px;
}

textarea{
    resize: none;
}


.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.text{
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    width: 150px;
    padding: 5px 10px;
    border-radius: 5%;
}

.register{
    margin-top: 200px ;
    display: flex;
    justify-content: center;
}

/*google button*/
.google-btn {
    cursor: pointer;
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.btn-text:hover {
     box-shadow: 0 0 6px #4285f4;
 }
.btn-text:active {
     background: #1669F2;;
 }
